:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Dark-blue-main: hsl(217, 54%, 11%);
  --Dark-blue-card: hsl(216, 50%, 16%);
  --Dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-blue-main);
}

.card {
  background-color: var(--Dark-blue-card);
  border-radius: 12px;
  padding: 1.5rem;
  width: calc(15vw + 3rem);
}

.image {
  position: relative;
  width: 15vw;
  height: 15vw;
  background-color: var(--Cyan);
  border-radius: 8px;
}

.eql-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 6px;
}

.icon {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  opacity: 0;
}

.image:hover .eql-img {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s ease;
}

.image:hover .icon {
  opacity: 1;
  transition: 0.3s ease;
}

.title {
  color: var(--White);
  font-weight: 500;
  font-size: 1.25rem;
  padding: 2vh 0;
}

.title:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.card > p {
  color: var(--Soft-blue);
  font-weight: 200;
  padding-bottom: 2vh;
}

.container-sub,
.align {
  display: flex;
  align-items: center;
}

.container-sub {
  justify-content: space-between;
  padding-bottom: 2vh;
  border-bottom: solid 0.5px var(--Dark-blue-line);
}

.price > p {
  color: var(--Cyan);
  font-weight: 600;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.time > p {
  color: var(--Soft-blue);
  font-size: 0.9rem;
  font-weight: 300;
  margin-left: 0.25rem;
}

.creator {
  padding-top: 2vh;
}

.creator > img {
  height: 2rem;
  border: var(--White) 1px solid;
  border-radius: 50%;
}

.creator > p {
  font-size: 0.9rem;
  color: var(--Soft-blue);
  font-weight: 300;
  padding-left: 0.75rem;
}

.user-link {
  text-decoration: none;
  color: var(--White);
}

.user-link:hover {
  color: var(--Cyan);
}
